{% extends "recipes/base.html" %}
{% block content %}
<main>
    <title>Consumption Junction</title>
    {% load static %}
<style>
.createrBio {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 60px;
}
.createrBio > div {
  font-size: 4vh;
  color: white;
  background: #5EB6D7;
  margin: .1em;
  padding: .3em;
  border-radius: 3px;
  flex: 1;
}
.about {
	text-align: center; 
	display:block; 
	text-align:center;
	margin: 10px auto;
	width: 60%;
	border: 3px solid #5EB6D7;
	padding: 40px;
}

</style>
	<head>
    <!--Links files to external css files-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="\static\recipes\StyleSheet.css">

    <title>Consumption Junction</title>
    {% load static %}
	</head>

<body>
	
	<div class = "about">
		<h1>About Us</h1>
		<p>Consumption Junction is meant to be a platform for posting and finding your favorite recipes. Whether you are looking
		 to share old family recipes or looking for new ones, there is something for everyone.</p>
	</div>
	<div class="createrBio">
		<div>
			<img src = "{% static 'recipes/profile.png' %}" width = "200px" height = "200px"/>
			<h3>Name</h3>
			<p>About Me</p>
		</div>
		<div>
			<img src = "{% static 'recipes/profile.png' %}" width = "200px" height = "200px"/>
			<h3>Name</h3>
			<p>About Me</p>
		</div>
		<div>
			<img src = "{% static 'recipes/profile.png' %}" width = "200px" height = "200px"/>
			<h3>Name</h3>
			<p>About Me</p>
		</div>
		<div>
			<img src = "{% static 'recipes/profile.png' %}" width = "200px" height = "200px"/>
			<h3>Name</h3>
			<p>About Me</p>
		</div>
	</div>
	
 </body>

</main>
{% endblock content %}
