{% extends "recipes/base.html" %}
{% block content %}
	<style>
	.wrapper {
	display: flex;
	}
	.wrapper > div {
	font-size: 4vh;
	color: white;
	background: #5EB6D7;
	margin: .1em;
	padding: .3em;
	border-radius: 3px;
	flex: 1;
	}
	</style>

		<div class = "about" style = "text-align: center">
			<h1>About Us</h1>
			<p>This is where we talk about us</p>
		</div>
		<div class="wrapper" style = "text-align: center">
			<div>
				<p>Name</p>
				<p style = "font-size: 18px">About Me</p>
			</div>
			<div>
				<p>Name</p>
				<p style = "font-size: 18px">About Me</p>
			</div>
			<div>
				<p>Name</p>
				<p style = "font-size: 18px">About Me</p>
			</div>
			<div>
				<p>Name</p>
				<p style = "font-size: 18px">About Me</p>
			</div>
		</div>
{% endblock content %}
