<!DOCTYPE html>
<html>

    <title>Consumption Junction</title>
    {% load static %}
	<body style="background-color: white;">

		<style>
			.links {
				overflow: hidden;
				background-color: #FF5533;
			}

			.links a {
				float: left;
				color: white;
				text-align: center;
				padding: 14px 18px;
				text-decoration: none;
				font-size: 17px;
			}

			.links a:hover {
				background-color: #FBB6A3;
				color: #FF5533;
				padding: auto;
			}

		</style>

		<div class="links">
			<a href = {% url 'index' %}><h2 style="color:black;">Consumption <br>Junction</h2>
			<a href = {% url 'aboutUs' %}><h2>About</h2></a>
	
			{% if request.user.is_authenticated %}
				<a href = {% url 'account' %}><h2>Account</h2></a>
				<a href = {% url 'logout' %}><h2 style="text-align: right;">Log Out</h2></a>	
			{% else %}
				<a href = {% url 'login' %}><h2>Log In</h2></a>
				<a href = {% url 'register' %}><h2>Register</h2></a>
			{% endif %}
		</div>
		<input type="text" placeholder="Search" style="position:relative; margin:10px auto; display:block; padding:5px; text-align:center;">
        <body>
            {% if messages %}
                {% for messages in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %} {% endblock content %}
        </body>
		
		<footer style = "background-color: #FF5533; padding: 20px 60px">
		<p>Copyright stuff.</p>
		</footer>
    </body>
</html>
