<!DOCTYPE html>
<html>

    <title>Consumption Junction</title>
	
	<body style="background-color: white;">
	
        <div class ="topBar" style="background-color: #FF5533; padding: 10px">
                <a href = {% url 'index' %}>
                    <h1 class = "logo"style="text-align:center; font-size:350%; font-family: verdana;color: white">Consumption Junction</h1>
                </a>
                <br>
                <input type="text" placeholder="Search" style="margin:10px auto; display:block; padding:5px;">
        </div>
	
        <div class="links" style="background-color: #5EB6D7; text-align:center; padding:20px; font-size:150%">
            <nav>
                <a href = {% url 'aboutUs' %}>
                    <h2>About</h2>
                </a>
                <a href = {% url 'signIn' %}>
                    <h2>Sign In</h2>
                </a>
                <a href = {% url 'register' %}>
                    <h2>Create an account</h2>
                </a>
            </nav>
        </div>
        <body>
            {% if messages %} 
                {% for messages in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %} {% endblock content %}
        </body>
    </body>
</html>