<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="\static\recipes\StyleSheet.css">
    <title>Consumption Junction</title>
    {% load static %}
	<body style="background-color: white;">

		<div class="links">
			<a href = {% url 'index' %}><h2 style="color:black;">Consumption <br>Junction</h2>
			<a href = {% url 'aboutUs' %}><h2>About</h2></a>
			<a href = {% url 'register' %}><h2>Register</h2></a>
			<a href = {% url 'signIn' %}><h2>Sign In</h2></a>
			<input type="text" placeholder="Search" style="position:relative; margin:10px auto; display:block; padding:5px; align:center;">
		</div>

        <body>
            {% if messages %}
                {% for messages in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %} {% endblock content %}
        </body>
		
		<footer style = "background-color: #FF5533; padding: 20px 60px">
		<p>Copyright stuff.</p>
		</footer>
    </body>
</html>
