{% extends "recipes/base.html" %}
{% block content %}
	<div class = "our-jumbotron">
		<h2><b>Welcome to Consumption Junction!</b></h2><br><br>
		<h5>We are a platform that dedicated to
		helping you connect with food lovers around the world! Our website will allow you to
		upload your own recipes for others to try as well as seeing other recipes posted by other food lovers.
		<br><br>
		Here are some categories to get you started:
		</h5>
	</div>
    {% for recipe in recipes %}
	<div style = "text-align:center;">
		<!--Will need href to individual recipe urls-->
		<a href = "{% url 'recipeView' recipe_url=recipe.recipe_url %}"><h2>{{recipe.recipe_name}}</h2></a>
		<img style= "text-align:center;" src = "{{recipe.recipe_image.url}}" width = "200px" height = "200px"/>
		<p>{{recipe.calorie_count}}<br></p>
	</div>
    {% endfor %}
{% endblock content %}
