input {
    margin-right: 10px;
    align-content: center;
    }

.topBar a {
    text-decoration: none;
}

.logo {
    color: lightgreen;
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: 360px;
    margin-right: 0px;
    margin-left: 0px;

}

.signUpBlock {
    background-color: rgb(65, 65, 62) ;
    margin-right: 25%;
    margin-left: 25%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: .75;
    shape-margin: 10px;
    align-content: center;
    }

.signUpBlock form {
    opacity: 1;
}

.submit-account-info {
    margin-left: 25%;
    margin-right: 25%;
}
    