<!DOCTYPE html>

<main>
    <!--Links files to external css files-->
    <link rel="stylesheet" type="text/css" href="assets/css/layout.css" href="assets/css/theme.css">

    <title>Consumption Junction</title>

    <div class ="topBar">
            <a href= {% url 'index' %}>
                <h1 class = "logo">Consumption Junction</h1>
            </a>
            <input type="text" placeholder="Search">
    </div>

    <div class = "account">
        <form action="signIn">
            <input type="text" placeholder="Email" required>
            <br>
            <input type="text" placeholder="Password" minlength="8" required>
            <br>
            <button type="submit">sign in</button>
        </form>
    </div>

    <a href={% url 'signUp' %}>
        <h5>Create an account</h5>
    </a>

</main>