<!DOCTYPE html>

<main>
    <!--Links files to external css files-->
    <link rel="stylesheet" type="text/css" href="assets/css/layout.css" href="assets/css/theme.css">

    <title>Consumption Junction</title>

    <div class ="topBar">
        <a href={% url 'index' %}>
            <h1 class = "logo">Consumption Junction</h1>
        </a>
        <input type="text" placeholder="Search">
    </div>

    <div class = "signUpBlock">
        <form method="post">
            <h2>Create your account</h2>

            <!--<input type="text" placeholder="Lastname" required>
            <input type="text" placeholder="Firstname" required>
            <br>
            <input type="date" placeholder="Birthday" required>
            <br>
            <input type="text" placeholder="Email" required>
            <br>-->
            <input type="text" placeholder="Username" required>
            <input type="text" placeholder="Password" minlength="8" required>
            <br><!--
            <input type="text" placeholder="Retype Password" minlength="8" required>-->
            <button type="submit">sign up</button>
        </form>
    </div>

    <a href={% url 'signIn' %}>
        <h5>Already have an account?</h5>
    </a>

</main>
