<!DOCTYPE html>

<main>
    <!--Links files to external css files-->
    <link rel="stylesheet" type="text/css" href="assets/css/layout.css" href="assets/css/theme.css">

    <title>Consumption Junction</title>
	
	<body style="background-color: white;">
	
    <div class ="topBar" style="background-color: #FF5533; padding: 10px">
            <a href =  {% url 'index' %}>
                <h1 class = "logo;" style="text-align:center; font-size:350%; font-family: verdana;color: white">Consumption Junction</h1>
            </a>
    </div>
	
	<div style="padding: 8px">
				<input type="text" placeholder="Search" style="margin:10px auto; display:block; padding:5px;">
	</div>
	
	<div class="links" style="background-color: #5EB6D7; text-align:center; padding:20px; font-size:150%">
		<nav>
			<a href = {% url 'About' %}>
				<h2>About</h2>
			</a>
			<a href = {% url 'signIn' %}>
				<h2>Sign In</h2>
			</a>
			<a href = {% url 'signUp' %}>
				<h2>Create an account</h2>
			</a>
		</nav>
	</div>


    <div class = "signUpBlock" style="background-color: #FBB6A3;">
        <form action="submit-account-info">
            <h2>Create your account</h2>

            <!--<input type="text" placeholder="Lastname" required>
            <input type="text" placeholder="Firstname" required>
            <br>
            <input type="date" placeholder="Birthday" required>
            <br>
            <input type="text" placeholder="Email" required>
            <br>-->
            <input type="text" placeholder="Username" required>
            <input type="text" placeholder="Password" minlength="8" required>
            <br><!--
            <input type="text" placeholder="Retype Password" minlength="8" required>-->
            <button type="submit">sign up</button>
        </form>
    </div>

    <a href={% url 'signIn' %}>
        <h5>Already have an account?</h5>
    </a>

</main>