<!DOCTYPE html>

<main>
    <!--Links files to external css files-->
    <link rel="stylesheet" type="text/css" href="assets/css/layout.css" href="assets/css/theme.css">

    <title>Consumption Junction</title>

    <div class ="topBar">
            <a href={% url 'index' %}>
                <h1 class = "logo">Consumption Junction</h1>
            </a>
            <input type="text" placeholder="Search">
            <ul>
                <li><a href={% url 'aboutUs' %}>about us</a></li>
                <li><a href = {% url 'signUp' %}>sign up</a></li>
            </ul>
    </div>


</main>
