{% extends "recipes/base.html" %}
{% block content %}
	<div class="signin">
		<h3>Join Now</h3>
	</div>
    <div class="join">
        <form method="POST" class="content-section">
            {% csrf_token %}
            {{ form.as_p }}
            <div class = "form-group">
                <Button type="submit">Sign in</Button>
            </div>
        </form>
        <div class="border-top pt-3"> 
            <small class="text-muted">
                <a href={% url 'login' %}>Already have an account? </a>
            </small>
        </div>
    </div>
{% endblock content %}