{% extends "recipes/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" class="content-section">
            {% csrf_token %}
            <legend>Join now</legend>
            {{ form.as_p }}
            <div class = "form-group">
                <Button class="btn btn-online-info" type="submit">Sign in</Button>
            </div>
        </form>
        <div class="border-top pt-3"> 
            <small class="text-muted">
                <a href={% url 'login' %}>Already have an account? </a>
            </small>
        </div>
    </div>
{% endblock content %}