{% extends "recipes/base.html" %}
{% block content %}
    <style>
        .account {
            margin-left: 25%;
            margin-right: 25%;
            text-align-last: center;
        }
    
    </style>

    <div class = "account" style="background-color: #FBB6A3;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign In</button>
        </form>
    </div>
    <small class="text-muted">
            <a href={% url 'register' %}>Need an account? </a>
        </small>
{% endblock content %}