.createrBio {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
}
.createrBio div {
  font-size: 4vh;
  color: white;
  background: #5EB6D7;
  margin: .1em;
  padding: .3em;
  border-radius: 3px;
  flex: 1;
}
.about {
	text-align: center; 
	display:block; 
	text-align:center;
	margin: 10px auto;
	width: 60%;
	border: 3px solid #5EB6D7;
	padding: 40px;
}


.links {
	overflow: hidden;
	background-color: #FF5533;
}

.links a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	font-size: 17px;
}

.links a:hover {
	background-color: #FBB6A3;
	color: #FF5533;
	padding: auto;
}


